.feed {
    width: fit-content;
    color: #fff;
}

.header-feed {
    border-right: 1px solid #dedede9f;
    border-left: 1px solid #dedede9f;
}

.feed h2 {
    padding: 15px;
    margin: 0;
}

.new-post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dedede9f;
}

.new-post div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px;
}

.new-post div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.new-post div img {
    border-radius: 50%;
}

.new-post div:nth-child(1) .textarea-new-post {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    background: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
}

.feed-new-post-btn {
    background-color: #1d9bf0;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 16px;
    text-transform:capitalize;
    margin-top: 15px;
}

.feed-new-post-btn:hover {
    cursor: pointer;
    background-color: rgba(29, 156, 240, 0.9);
}


