.sideBar {
    padding: 10px;
    border-right: 1px solid #dedede;
    flex: 0.3;
}

.sideBar-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.sideBar-option:hover {
    background-color: rgba(247, 249, 249, 0.1);
    width: fit-content;
    border-radius: 30px;
}

.twitter-icon {
    color: #1d9bf0;
    transform: scale(1.5);
    margin: 15px;
}

.svg-sideBar {
    padding: 10px;
}

.sideBar-option h3 {
    font-weight: 900;
    margin-right: 30px;
}

.sideBar-option--active {
    color: #1d9bf0;
}

.sideBar-post {
    background-color: #1d9bf0 !important;
    color: #fff !important;
    font-weight: 900 !important;
    border-radius: 30px !important;
    margin-top: 15px !important;
    text-transform:capitalize !important;
}