.widgets {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 400px;
}

.subscription-premium {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    background-color: #1e2732;
    padding: 15px;
    border-radius: 20px;
   
}

.subscription-premium h3,
.user-to-follow h3,
.trending-topics h3 {
    margin: 0;
}

.user-to-follow h3, .trending-topics h3  {
    padding: 15px;
}

.subscribe-premium-btn {
    background-color: #1d9bf0;
    color: #fff;
    border-radius: 30px;
    border: none;
    width: 50%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 16px;
    text-transform:capitalize;
    margin-top: 15px;
}

.subscribe-premium-btn:hover {
    cursor: pointer;
    background-color: rgba(29, 156, 240, 0.9);
}

.user-to-follow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    background-color: #1e2732;
    border-radius: 20px;
   
}

.follow-username-data b {
    color: #fff;
}

.user-to-follow .who-to-follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.user-to-follow .who-to-follow:hover {
    background-color: #9e9fa12d;
}

.user-to-follow .who-to-follow img {
    border-radius: 50%;
}

.user-to-follow .who-to-follow .follow-username-data {
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.follow-username-data div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-to-follow .who-to-follow span {
    color: #dedede9f;
}

.who-to-follow .verified {
    color: #1d9bf0;
    font-size: 18px;
}
  
.who-to-follow .not-verified {
    display: none;
}

.who-to-follow .follow-btn {
    border: none;
    font-weight: 700;
    height: 30px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.user-to-follow .show-more,
.trending-topics .show-more {
    color: #1d9bf0;
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
}

.user-to-follow .show-more:hover,
.trending-topics .show-more:hover {
    background-color: #9e9fa12d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.trending-topics {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    background-color: #1e2732;
    border-radius: 20px;
} 

.trending-topic {
    padding: 5px;
    cursor: pointer;
    padding-left: 14px;
}

.trending-topic:hover {
    background-color: #9e9fa12d;
}

.trending-topic p {
    margin: 0;
    color: #dedede9f;
    font-size: 12px;
}

.trending-topic b {
    color: #fff;
}

.follow-username-data b:hover {
    text-decoration: underline;
}
