.widgets {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.subscription-premium {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    background-color: #1e2732;
    padding: 15px;
    border-radius: 20px;
   
}

.subscription-premium h3,
.user-to-follow h3 {
    margin: 0;
}

.subscribe-premium-btn {
    background-color: #1d9bf0 !important;
    color: #fff !important;
    font-weight: 900 !important;
    border-radius: 30px !important;
    margin-top: 10px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-transform: capitalize !important;
    width: fit-content;
}


.user-to-follow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    background-color: #1e2732;
    padding: 15px;
    border-radius: 20px;
   
}

.user-to-follow .who-to-follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-to-follow .who-to-follow img {
    border-radius: 50%;
}

.user-to-follow .who-to-follow .follow-username-data {
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.follow-username-data div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-to-follow .who-to-follow span {
    color: rgba(255, 255, 255, 0.565);
}

.who-to-follow .verified {
    color: #1d9bf0;
    font-size: 18px;
}
  
.who-to-follow .not-verified {
    display: none;
}

.who-to-follow .follow-btn {
    border: none;
    font-weight: 900;
    height: 30px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}