.new-users {
    width: 600px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.new-users h2 {
    border-right: 1px solid #dedede9f;
    border-left: 1px solid #dedede9f;
    padding: 15px;
    margin: 0;
}

.who-connect-page {
    border-right: 1px solid #dedede9f;
    border-left: 1px solid #dedede9f;
    padding: 15px;
    padding-bottom: 20px;
}
.who-connect-page img {
    border-radius: 50%;
}

.who-connect-details-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.who-connect-details-users div {
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.who-connect-details-users div .verified-who-connect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.who-connect-details-users div span {
    color: #dedede9f;
}

.who-connect-details-users  .verified {
    color: #1d9bf0;
    font-size: 18px;
}
  
.who-connect-details-users  .not-verified {
    display: none;
}

.who-connect-page p {
    font-size: 14px;
}

.verified-who-connect b:hover {
    text-decoration: underline;
}




.tw-followCard-button {
    cursor: pointer;
    border: 0;
    border-radius: 999px;
    padding: 2px 16px;
    font-weight: 600;
    border: 1px solid #15202b;
    transition: .3s ease background-color;
}

.tw-followCard-button:hover {
    opacity: .8;
}

.tw-followCard-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 1px;
}

.tw-followCard-button.is-following {
    border: 1px solid #dedede9f;
    background: transparent;
    color: #ffffff;
    width: fit-content;
}

.tw-followCard-button.is-following:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.178);
    color: #ff0000;
    border: 1px solid #ff0000;
    transition: .3s ease all;
    opacity: 1;
    width: fit-content;
    height: 30px;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-stopFollow {
    display: none;
}