.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.post {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: max-content;
  padding: 15px;
  border-bottom: 1px solid #dedede;
}
  
.post .post-content {
  display: flex;
  gap: 16px;
}
  
.post ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
  
.post .avatar-profile-img {
  border-radius: 50%;
}
  
.post .post-details .post-username-data {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 14px;
}
  
.post .post-details .post-username-data span {
  color: rgba(255, 255, 255, 0.565);
}

.post .post-details .post-img {
  border-radius: 25px;
  width: 95%;
}

.post ul li:nth-child(1):hover, .post ul li:nth-child(4):hover {
  cursor: pointer;
  color: #1d9bf0;
  background-color: rgba(29, 156, 240, 0.2);
}

.post ul li:nth-child(3):hover {
  cursor: pointer;
  color: #df245d;
  background-color: rgba(223, 36, 92, 0.2);
}
.post ul li:nth-child(2):hover {
  cursor: pointer;
  color: #19cf86;
  background-color: rgba(25, 207, 134, 0.2);
}

.post .verified {
  color: #1d9bf0;
  font-size: 18px;
}

.post .not-verified {
  display: none;
}