body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  color: #fff;
  display: flex;
  gap: 16px;
  width: 40vw;
  height: max-content;
  border: 1px solid rgba(255, 255, 255, 0.565);
  padding: 10px;
}

.post img {
  border-radius: 50%;
}

.post .post-details .post-username-data {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 14px;
}


.post .post-details .post-username-data span {
  color: rgba(255, 255, 255, 0.565);
}
